$blulight : rgb(0, 251, 255) ;
$shadowText : 3px 0 black;
#paralax{
  background: url('https://bs-uploads.toptal.io/blackfish-uploads/blog/post/seo/og_image_file/og_image/17858/atomic-design-sketch-04ce7f7bc9d12b6f63a2197d9cec79d3.png');
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  color: $blulight;
  font-weight: bold;
  
  h1 {
    color: $blulight;
    text-shadow: $shadowText;
    letter-spacing: 2px;}
  

  p{
      font-size: 25px;
      
        
  }
}

.DarkMode{
  background-color: #181A1B;
}

#CompBoxArtikel {
  CardSubtitle{
    font-size: 200px;
  }
  p{
    font-size: 15px;

  }

  button{
    font-size: 15px;
  }

  
}

#carbon-1{
  background-image: url('/img/carbon.png');
}


footer {
  background-color: #0F256E;
  color: $blulight;  

}







#Comp-List-Html {
  h1{
    color: $blulight;
    letter-spacing: 5px;
    font-family: cursive;
    text-shadow: $shadowText;
  }
  h3{
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 9px;
    border-bottom: 2px solid #0F256E;
  
  }
  ul li a{
    font-size: 15px;
    color: $blulight;
  }
}

#Pengenalan-Html  {
  .card { 
    border-left: 2px solid red;
    border-right: 2px solid red;
    height: 60px;
    line-height: 30px;
  } 
  h2{
    color: $blulight;
  }
  p{ 
    margin-bottom: 1rem;
    font-size: 1.125rem;  
    color : #838382;
  }
  img{
    opacity: 0.9;
    filter: grayscale(10%);
    display: block;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  h3{
    color:rgb(77, 255, 0);
    letter-spacing: 2px;
    line-height: 100px;
    font-style: italic;
  }
}
